.navigation-links-nav {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.navigation-links-text1 {
    margin-left: var(--dl-space-space-twounits);
}

.navigation-links-text2 {
    margin-left: var(--dl-space-space-twounits);
}

.navigation-links-text3 {
    margin-left: var(--dl-space-space-twounits);
}

.navigation-links-text4 {
    margin-left: var(--dl-space-space-twounits);
}








@media(max-width: 767px) {
    .navigation-links-nav {
        align-items: flex-start;
        flex-direction: column;
    }

    .navigation-links-text {
        margin-bottom: var(--dl-space-space-unit);
    }

    .navigation-links-text1 {
        margin-left: 0;
        margin-bottom: var(--dl-space-space-unit);
    }

    .navigation-links-text2 {
        margin-left: 0;
        margin-bottom: var(--dl-space-space-unit);
    }

    .navigation-links-text3 {
        margin-left: 0;
        margin-bottom: var(--dl-space-space-unit);
    }

    .navigation-links-text4 {
        margin-left: 0;
        margin-bottom: var(--dl-space-space-unit);
    }
}

.home-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
}

.home-header {
    width: 100%;
    display: flex;
    max-width: 100%;
    box-shadow: 0px 1.5px 30px 0px #6d6d6d;
    align-items: center;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-unit);
    justify-content: space-between;
}

.home-image {
    width: 200px;
    object-fit: cover;
}

.home-nav {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.home-burger-menu {
    display: none;
}

.home-icon {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    display: flex;
}

.home-mobile-menu {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    display: none;
    padding: 32px;
    z-index: 100;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
}

.home-nav1 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.home-container01 {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: var(--dl-space-space-threeunits);
    justify-content: space-between;
}

.home-image1 {
    width: var(--dl-size-size-large);
    object-fit: cover;
}

.home-close-mobile-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-icon02 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
}

.home-icon04 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    margin-right: var(--dl-space-space-twounits);
}

.home-icon06 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    margin-right: var(--dl-space-space-twounits);
}

.home-icon08 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
}

.home-container02 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

.home-histo {
    flex: 1;
    width: 50%;
    height: 100%;
    display: flex;
    align-self: center;
    align-items: flex-start;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: center;
}

.home-history {
    flex: 1;
    width: 50%;
    height: 100%;
    display: flex;
    align-self: center;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: center;
}

.home-mission {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-self: center;
    align-items: flex-start;
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-fourunits);
    justify-content: center;
    background-color: #e4ecef;
}

.home-text {
    align-self: center;
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-threeunits);
}

.home-container03 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.home-container04 {
    width: 600px;
    height: auto;
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: center;
}

.home-image2 {
    float: left;
    width: 200px;
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
}

.home-text01 {
    float: none;
    width: var(--dl-size-size-xxlarge);
    text-align: center;
}


.home-missionvision {
    float: none;
    width: 100%;
    text-align: center;
}

.home-mission-vision {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: flex-start;
    background-color: #e4ecef;
}

.home-text02 {
    align-self: center;
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
}

.home-container05 {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.home-image3 {
    width: 200px;
    object-fit: cover;
}

.home-container06 {
    width: auto;
    height: auto;
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: flex-start;
}

.home-text03 {
    float: none;
    width: var(--dl-size-size-xxlarge);
}

.home-contact-info {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    padding: var(--dl-space-space-twounits);
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.home-container07 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.home-container08 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-container09 {
    flex: 0 0 auto;
    width: 24px;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.home-icon10 {
    width: 24px;
    height: 24px;
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-halfunit);
}

.home-container10 {
    flex: 0 0 auto;
    width: 24px;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.home-icon12 {
    width: 24px;
    height: 24px;
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-halfunit);
}

.home-icon14 {
    width: 24px;
    height: 24px;
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-halfunit);
}

.home-container11 {
    flex: 0 0 auto;
    width: 24px;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.home-icon16 {
    width: 24px;
    height: 24px;
    margin-right: var(--dl-space-space-unit);
    margin-bottom: 0px;
}

.home-container12 {
    flex: 0 0 auto;
    width: auto;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.home-text07 {
    margin-bottom: var(--dl-space-space-unit);
}

.home-text08 {
    margin-bottom: var(--dl-space-space-unit);
}

.home-text09 {
    margin-bottom: var(--dl-space-space-unit);
}

.home-container13 {
    flex: 0 0 auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-iframe {
    width: 320px;
    height: 200px;
    margin: var(--dl-space-space-unit);
}

.home-footer {
    width: 100%;
    display: flex;
    max-width: 100%;
    align-items: center;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-around;
    background-color: #272829;
}

.home-container14 {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
}

.home-logo {
    display: flex;
    max-width: var(--dl-size-size-maxwidth);
    align-items: flex-start;
    flex-direction: column;
}

.home-image4 {
    width: 200px;
    object-fit: cover;
}

.home-text11 {
    color: rgb(255, 255, 255);
    align-self: center;
    margin-top: var(--dl-space-space-halfunit);
}

.home-links-container {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
}

.home-container15 {
    display: flex;
    align-items: flex-start;
    margin-right: 10rem;
    flex-direction: row;
    justify-content: space-between;
}

.home-product-container {
    flex: 0 0 auto;
    display: flex;
    align-items: flex-start;
    margin-right: 10rem;
    flex-direction: column;
    justify-content: flex-start;
}

.home-product-container a {
    color: white;
    text-decoration: none;
}

.home-text12 {
    color: rgb(255, 255, 255);
    font-weight: 700;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
}

.home-text13 {
    color: rgb(255, 255, 255);
    margin-bottom: var(--dl-space-space-unit);
}

.home-text14 {
    color: rgb(255, 255, 255);
    margin-bottom: var(--dl-space-space-unit);
}

.home-text15 {
    color: rgb(255, 255, 255);
    margin-bottom: var(--dl-space-space-unit);
}

.home-text16 {
    color: rgb(255, 255, 255);
    margin-bottom: var(--dl-space-space-unit);
}

.home-text17 {
    color: rgb(255, 255, 255);
}

.home-company-container {
    flex: 0 0 auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

.home-text18 {
    color: rgb(255, 255, 255);
    font-weight: 700;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
}

.home-text19 {
    color: rgb(255, 255, 255);
    margin-bottom: var(--dl-space-space-unit);
}

.home-text20 {
    color: rgb(255, 255, 255);
    margin-bottom: var(--dl-space-space-unit);
}

.home-container16 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

.home-contact {
    display: flex;
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
    justify-content: flex-start;
}

.home-text21 {
    color: #ffffff;
    font-weight: 700;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
}

.home-text22 {
    color: rgb(255, 255, 255);
    margin-bottom: var(--dl-space-space-unit);
}

.home-text23 {
    color: rgb(255, 255, 255);
}

.home-socials {
    width: 100%;
    display: flex;
    align-self: center;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

.home-text24 {
    color: #ffffff;
    align-self: flex-start;
    font-weight: 700;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
}

.home-icon-group1 {
    width: 100%;
    display: flex;
    align-self: center;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
}

.home-icon18 {
    fill: var(--dl-color-gray-white);
    width: 79px;
    height: 22px;
    align-self: center;
}

.home-separator {
    width: 100%;
    height: 1px;
    margin-top: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
    background-color: var(--dl-color-gray-900);
}

.home-text25 {
    color: rgb(255, 255, 255);
    align-self: center;
}

@media(max-width: 991px) {
    .home-footer {
        flex-direction: column;
    }

    .home-container15 {
        margin-right: var(--dl-space-space-fourunits);
    }

    .home-product-container {
        margin-right: var(--dl-space-space-fourunits);
    }
}

@media(max-width: 767px) {
    .home-header {
        padding-left: var(--dl-space-space-twounits);
        padding-right: var(--dl-space-space-twounits);
    }

    .home-nav {
        display: none;
    }

    .home-burger-menu {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .home-footer {
        padding-left: var(--dl-space-space-twounits);
        padding-right: var(--dl-space-space-twounits);
    }

    .home-container14 {
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
    }

    .home-logo {
        align-items: center;
    }

    .home-text11 {
        margin-top: var(--dl-space-space-twounits);
        text-align: center;
        margin-bottom: var(--dl-space-space-twounits);
    }

    .home-links-container {
        width: 100%;
        align-items: flex-start;
        flex-direction: row;
        justify-content: center;
    }

    .home-container15 {
        margin-right: var(--dl-space-space-fourunits);
    }

    .home-product-container {
        margin-right: var(--dl-space-space-fourunits);
    }
}

@media(max-width: 479px) {
    .home-header {
        padding: var(--dl-space-space-unit);
    }

    .home-mobile-menu {
        padding: 16px;
    }

    .home-footer {
        padding: var(--dl-space-space-unit);
    }

    .home-container14 {
        align-items: center;
        flex-direction: column;
    }

    .home-text11 {
        margin-top: var(--dl-space-space-twounits);
        margin-bottom: var(--dl-space-space-twounits);
    }

    .home-links-container {
        align-items: center;
        flex-direction: column;
    }

    .home-container15 {
        margin-right: 0px;
    }

    .home-container16 {
        margin-top: var(--dl-space-space-oneandhalfunits);
        align-items: flex-start;
        margin-bottom: 0px;
    }

    .home-contact {
        align-items: flex-start;
        margin-bottom: var(--dl-space-space-unit);
    }

    .home-text25 {
        text-align: center;
    }
}

.navlink {
    color: #272829;
    text-decoration: none;
}

.index-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.index-hero {
    width: 100%;
    height: 850px;
    display: flex;
    padding: var(--dl-space-space-threeunits);
    max-width: 100%;
    align-items: center;
    flex-direction: row;
    background-size: cover;
    justify-content: space-between;
    background-image: url("/images/bg.jpg");
    background-repeat: no-repeat;
    background-position: top;
}

.index-container01 {
    display: flex;
    align-self: center;
    margin-left: var(--dl-space-space-fiveunits);
    margin-right: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    flex-direction: column;
}

.index-text {
    color: #ffffff;
    font-size: 3rem;
    max-width: 450px;
    align-self: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
}

.index-btn-group {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.index-button {
    transition: 0.3s;
    font-weight: bold;
    padding-top: var(--dl-space-space-unit);
    border: none;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-unit);
}

.index-button:hover {
    color: var(--dl-color-gray-white);
    background-color: var(--dl-color-gray-black);
}

.index-image {
    width: 620px;
    height: 600px;
    object-fit: cover;
}

.index-container02 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.index-container03 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-self: center;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.index-container04 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: flex-start;
}

.index-image1 {
    width: 510px;
    height: 352px;
    object-fit: cover;
    margin-right: var(--dl-space-space-fourunits);
    margin-left: 15%;
}

.index-container05 {
    flex: 0 0 auto;
    width: auto;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.index-text1 {
    margin-bottom: 125px;
}

.index-button1 {
    display: flex;
    border: none;
    flex-direction: row;
    background-color: transparent;
}

.index-text2 {
    font-size: 25px;
    align-self: center;
    text-decoration: none;
}

.index-icon {
    width: 24px;
    height: 24px;
}

.index-container06 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    padding: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-fourunits);
    align-self: flex-end;
    align-items: flex-start;
    justify-content: flex-end;
    background-color: #e4ecef;
}

.index-container07 {
    flex: 0 0 auto;
    width: auto;
    height: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.index-text3 {
    margin-bottom: 270px;
}

.index-button2 {
    display: flex;
    border: none;
    flex-direction: row;
    background-color: transparent;
}

.index-text4 {
    font-size: 25px;
    align-self: center;
}

.index-icon2 {
    width: 24px;
    height: 24px;
}

.index-image2 {
    width: 510px;
    height: 352px;
    object-fit: cover;
    margin-left: var(--dl-space-space-fourunits);
    margin-right: 15%;
}

.index-container08 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    padding: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-fourunits);
    align-self: flex-end;
    align-items: flex-start;
    justify-content: flex-start;
}

.index-image3 {
    width: 510px;
    height: 352px;
    object-fit: cover;
    margin-right: var(--dl-space-space-fourunits);
    margin-left: 15%;
}

.index-container09 {
    flex: 0 0 auto;
    width: auto;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.index-text5 {
    margin-bottom: 270px;
}

.index-button3 {
    display: flex;
    border: none;
    flex-direction: row;
    background-color: transparent;
}

.index-text6 {
    font-size: 25px;
    align-self: center;
}

.index-icon4 {
    width: 24px;
    height: 24px;
}

@media(max-width: 991px) {
    .index-hero {
        flex-direction: column;
    }

    .index-container01 {
        align-items: center;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: var(--dl-space-space-twounits);
        padding-right: 0px;
    }

    .index-text {
        text-align: center;
    }
}

@media(max-width: 767px) {
    .index-hero {
        padding-left: var(--dl-space-space-twounits);
        padding-right: var(--dl-space-space-twounits);
    }
}

@media(max-width: 479px) {
    .index-hero {
        padding-top: var(--dl-space-space-twounits);
        padding-left: var(--dl-space-space-unit);
        padding-right: var(--dl-space-space-unit);
        padding-bottom: var(--dl-space-space-twounits);
    }

    .index-container01 {
        margin-bottom: var(--dl-space-space-unit);
    }

    .index-btn-group {
        flex-direction: column;
    }
}

.preview-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.preview-container1 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    padding: var(--dl-space-space-twounits);
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.preview-image {
    width: 50%;
    height: 527px;
    position: relative;
    object-fit: cover;
}

.preview-container2 {
    flex: 0 0 auto;
    right: 150px;
    width: 481px;
    height: 390px;
    display: flex;
    padding: var(--dl-space-space-oneandhalfunits);
    z-index: 100;
    position: absolute;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #393737;
}

.preview-text {
    color: rgb(255, 255, 255);
    font-size: 5em;
    text-align: left;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
}

.preview-text05 {
    color: rgb(161, 161, 161);
    font-size: 22px;
    align-self: flex-start;
    font-style: normal;
    font-weight: 700;
}

.preview-container3 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    padding: var(--dl-space-space-twounits);
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.preview-image1 {
    width: 50%;
    height: 527px;
    position: relative;
    object-fit: cover;
}

.preview-container4 {
    flex: 0 0 auto;
    left: 150px;
    width: 481px;
    height: 390px;
    display: flex;
    padding: var(--dl-space-space-oneandhalfunits);
    z-index: 100;
    position: absolute;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #393737;
}

.preview-text06 {
    color: rgb(255, 255, 255);
    font-size: 5em;
    text-align: left;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
}

.preview-text11 {
    color: rgb(161, 161, 161);
    font-size: 22px;
    align-self: flex-start;
    font-style: normal;
    font-weight: 700;
}